.desktop__menu {
  z-index: 1102!important;
  border-radius: 1rem!important;
}

/* IPHONE X ONLY */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  .MuiBottomNavigationAction-root {
    padding-bottom: 32px!important;
    padding-top: 8px!important;
  }
}
