.MuiFab-root {
  position: fixed!important;
  bottom: 5.5rem!important;
  margin: 0 auto!important;
  left: 50%!important;
  box-shadow: 0 0 10px #00000005!important;
  transform: translate(-50%, 0)!important;
  z-index: 99!important;
}

/* FOR IPHONE X */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  .MuiFab-root {
    bottom: 6.5rem!important;
  }
}

@media (min-width: 768px) {
  .MuiFab-root {
    bottom: 2.5rem!important;
  }
}
