.MuiFab-root {
  position: fixed!important;
  bottom: 4.5rem!important;
  margin: 0 auto!important;
  left: 50%!important;
  transform: translate(-50%, 0)!important;
  z-index: 99!important;
}

@media (min-height: 812px) {
  .MuiFab-root {
    bottom: 5.5rem!important;
  }
}
