.topbar__container {
  position: sticky!important;
  top: 0!important;
  width: 100%!important;
  display: flex!important;
  align-items: center!important;
}

.top__row__container {
  padding: .5rem 1rem!important;
}

.paper__background {
  border-radius: 0!important;
  height: 100%!important;
  width: 100%!important;
}
