* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none!important;
}

.MuiCardContent-root:last-child {
  padding-bottom: 1rem!important;
}

.paper-background {
  border-radius: 0!important;
  width: 100%!important;
  height: 100%!important;
  position: fixed!important;
  bottom: 0!important;
  top: 0!important;
  left: 0!important;
  right: 0!important;
}

.jobs-container {
  padding-top: 4rem!important;
}

.MuiContainer-root {
  height: 100%!important;
  padding: 1rem!important;
}

.MuiDialogContent-root {
  padding: 0 16px 16px 16px!important;
}

.MuiFormControl-root {
  width: 100%;
  margin: 0 0 .75rem 0!important;
}

.MuiBottomNavigationAction-root {
  padding: 1rem .5rem!important;
  min-width: 0!important;
}

.padding-bottom-24 {
  padding-bottom: 24px!important;
  transition: padding-bottom .2s ease-in-out;
}

.MuiChip-deleteIcon {
  margin: 0 4px!important;
}

.no-margin {
  margin: 0!important;
}

.MuiAlert-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.MuiAlert-action {
  padding: 0!important;
  margin: 0!important;
}

.chip-button {
  cursor: pointer!important;
  transition: .3s border ease-in-out;
}

.MuiCard-root {
  border-radius: 1rem!important;
  box-shadow: none!important;
}

.MuiCardHeader-avatar {
  margin: 0 0 0 1rem;
  margin-right: 0!important;
}

.button-spinner {
  height: 24px!important;
  width: 24px!important;
  color: #f4f4f4!important;
}

#file-upload {
  display: none;
}

.anchor {
  cursor: pointer;
}

.button-style {
  float: left!important;
  width: 100%!important;
}

.button-icon {
  position: absolute;
  left: 1rem;
  top: .6rem;
}

.MuiFab-root {
  box-shadow: 0 0 10px #00000005!important;
}

.MuiList-root {
  padding: 0!important;
}

.MuiListItem-root {
  margin: 1rem 0!important;
}

.MuiListItem-root:first-of-type {
  margin-top: 0!important;
}

.button-link {
  width: 100%;
}

@media (min-width: 768px) {
  .button-style {
    width: fit-content!important;
    min-width: fit-content!important;
  }

  .button-link {
    width: fit-content;
  }

  .full-width {
    width: 100%!important;
  }
}

/* FLEXBOX LAYOUT */

.align__center {
  align-items: center!important;
}

.justify__between {
  justify-content: space-between;
}

.justify__center {
  justify-content: center!important;
}

.text__center {
  text-align: center;
}

.flex {
  display: flex!important;
}

.full__width {
  width: 100%;
}

.flex__column {
  flex-direction: column!important;
}

/* AVATARS */
.avatar__lg {
  height: 90px;
  width: 90px;
}

.avatar__md {
  height: 56px!important;
  width: 56px!important;
}

.avatar__xs {
  height: 32px!important;
  width: 32px!important;
}

.mr-25 {
  margin-right: .25rem!important;
}

.m-5 {
  margin: .5rem!important;
}

.m-1 {
  margin: 1rem!important;
}

.m-0 {
  margin: 0!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mb-5 {
  margin-bottom: .5rem;
}

.mb-1 {
  margin-bottom: 1rem!important;
}

.mb-2 {
  margin-bottom: 2rem!important;
}

.mb-3 {
  margin-bottom: 3rem!important;
}

.mb-4 {
  margin-bottom: 4rem!important;
}

.mb-5 {
  margin-bottom: .5rem!important;
}

.mt-1 {
  margin-top: 1rem!important;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: .5rem;
}

.pb-1 {
  padding-bottom: 1rem!important;
}

.pb-2 {
  padding-bottom: 2rem!important;
}

.pb-3 {
  padding-bottom: 3rem!important;
}

.pb-4 {
  padding-bottom: 4rem!important;
}

.sticky {
  position: sticky!important;
}

.relative {
  position: relative!important;
}

.MuiBottomNavigationAction-label, .MuiBottomNavigationAction-label.Mui-selected {
  font-size: .6rem!important;
  margin-top: .25rem;
}

.transparent {
  background-color: transparent!important;
}

.border__radius_1 {
  border-radius: 1rem!important;
}

.max__width {
  max-width: 1280px!important;
}

.margin__center {
  margin: 0 auto;
}

.min__fit__content {
  min-width: fit-content!important;
}

.p-5 {
  padding: .5rem!important;
}

.pt-1 {
  padding-top: 1rem!important;
}

.p-1 {
  padding: 1rem!important
}

.mr-1 {
  margin-right: 1rem!important;
}

.mr-2 {
  margin-right: 2rem!important;
}

.mr-3 {
  margin-right: 3rem!important;
}

.mr-4 {
  margin-right: 4rem!important;
}

.mr-5 {
  margin-right: .5rem!important;
}

.ml-1 {
  margin-right: 1rem!important;
}

.ml-2 {
  margin-right: 2rem!important;
}

.ml-3 {
  margin-right: 3rem!important;
}

.ml-4 {
  margin-right: 4rem!important;
}

.ml-5 {
  margin-right: .5rem!important;
}

.cards__container .MuiListItem-root {
  padding: 0!important;
  margin: 0!important;
}

.br-1 {
  border-radius: 1rem!important;
}

.clickable {
  cursor: pointer!important;
}

.clickable:hover {
  cursor: pointer!important;
}

.MuiTableContainer-root::-webkit-scrollbar {
  display: none!important;
}

.MuiTableContainer-root {
  -ms-overflow-style: none!important;  /* IE and Edge */
  scrollbar-width: none!important;  /* Firefox */
}

.rtl {
  direction: rtl!important;
}

.MuiMenu-paper {
  border-radius: 1rem!important;
  padding-top: 1rem!important;
  box-shadow: 0 0 10px #00000030!important;
}

.min__width--200 {
  min-width: 200px!important;
}
