:root {
  --primary: #286cba;
  --red: #b91917;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "arial", "sans-serif";
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none!important;
}

.paper-background {
  border-radius: 0!important;
  width: 100%!important;
  height: 100%!important;
  position: fixed!important;
  bottom: 0!important;
  top: 0!important;
  left: 0!important;
  right: 0!important;
}

.jobs-container {
  padding-top: 64px!important;
}

.MuiListItemIcon-root {
  min-width: 0!important;
  margin-left: 8px!important;
}

.MuiFormControl-root {
  width: 100%;
  margin: 0 0 .75rem 0!important;
}

.MuiBottomNavigationAction-root {
  padding: 16px 8px!important;
  min-width: 0!important;
  padding-bottom: calc(16px + env(safe-area-inset-bottom))!important;
}

.padding-bottom-24 {
  padding-bottom: 24px!important;
  transition: padding-bottom .2s ease-in-out;
}

.MuiChip-deleteIcon {
  margin: 0 4px!important;
}

.no-margin {
  margin: 0!important;
}

.chip-button {
  cursor: pointer!important;
  transition: .3s border ease-in-out;
}

.button-spinner {
  height: 24px!important;
  width: 24px!important;
  color: #f4f4f4!important;
}

#file-upload {
  display: none;
}

.anchor {
  cursor: pointer;
}

.button-style {
  float: left!important;
  width: 100%!important;
}

.button-icon {
  position: absolute;
  left: 16px;
  top: .6rem;
}

.button-link {
  width: 100%;
}

@media (min-width: 768px) {
  .button-style {
    width: fit-content!important;
    min-width: fit-content!important;
  }

  .button-link {
    width: fit-content;
  }

  .full-width {
    width: 100%!important;
  }
}

/* FLEXBOX LAYOUT */

.align__baseline {
  align-items: baseline!important;
}

.align__center {
  align-items: center!important;
}

.align__end {
  align-items: flex-end!important;
}

.justify__end {
  justify-content: flex-end!important;
}

.justify__between {
  justify-content: space-between!important;
}

.justify__center {
  justify-content: center!important;
}

.text__right {
  text-align: right!important;
}

.text__center {
  text-align: center;
}

.flex {
  display: flex!important;
}

.full__height {
  height: 100%;
}

.full__width {
  width: 100%;
}

.flex__column {
  flex-direction: column!important;
}

.flex__row {
  flex-direction: row!important;
}

.flex__1 {
  flex: 1!important;
}

.flex__4 {
  flex: 4!important;
}

.mobile_full__width {
  width: 100%!important;
}

@media (min-width: 768px) {
  .mobile_full__width {
    width: auto!important;
  }
}

/* AVATARS */
.avatar__lg {
  height: 90px;
  width: 90px;
}

.avatar__md {
  height: 56px!important;
  width: 56px!important;
  border-radius: 50%!important;
}

.avatar__xs {
  height: 32px!important;
  width: 32px!important;
}

.ms-25 {
  margin-right: .25rem!important;
  margin-left: .25rem!important;
}

.ms-5 {
  margin-right: 8px!important;
  margin-left: 8px!important;
}

.mr-25 {
  margin-right: .25rem!important;
}

.m-5 {
  margin: 8px!important;
}

.m-1 {
  margin: 16px!important;
}

.m-0 {
  margin: 0!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mb-5 {
  margin-bottom: 8px;
}

.mb-1 {
  margin-bottom: 16px!important;
}

.mb-2 {
  margin-bottom: 32px!important;
}

.mb-3 {
  margin-bottom: 48px!important;
}

.mb-4 {
  margin-bottom: 64px!important;
}

.mb-5 {
  margin-bottom: 8px!important;
}

.t-0 {
  top: 0!important;
}

.mt-0 {
  margin-top: 0!important;
}

.mt-25 {
  margin-top: 4px!important;
}

.mt-1 {
  margin-top: 16px!important;
}

.mt-2 {
  margin-top: 32px!important;
}

.mt-3 {
  margin-top: 48px!important;
}

.mt-4 {
  margin-top: 64px;
}

.mt-5 {
  margin-top: 8px!important;
}

.mt-10 {
  margin-top: 144px!important;
}

.mb-25 {
  margin-bottom: 4px !important;
}

.mt-25 {
  margin-top: 4px!important;
}

.ptb-5 {
  padding-top: 8px!important;
  padding-bottom: 8px!important;
}

.ps-1 {
  padding-left: 16px!important;
  padding-right: 16px!important;
}

.pb-0 {
  padding-bottom: 0!important;
}

.pb-1 {
  padding-bottom: 16px!important;
}

.pb-2 {
  padding-bottom: 32px!important;
}

.pb-3 {
  padding-bottom: 48px!important;
}

.pb-4 {
  padding-bottom: 64px!important;
}

.sticky {
  position: sticky!important;
}

.relative {
  position: relative!important;
}

.MuiBottomNavigationAction-label, .MuiBottomNavigationAction-label.Mui-selected {
  font-size: .6rem!important;
  margin-top: .25rem;
}

.transparent {
  background-color: transparent!important;
}

.border__radius_1 {
  border-radius: 16px!important;
}

.max__width {
  max-width: 1280px!important;
}

.margin__center {
  margin: 0 auto;
}

.min__fit__content {
  min-width: fit-content!important;
}

.fit__content {
  width: fit-content;
}

.z-9 {
  z-index: 9!important;
}

.p-0 {
  padding: 0!important;
}

.p-5 {
  padding: 8px!important;
}

.pt-0 {
  padding-top: 0px!important;
}

.pt-25 {
  padding-top: 4px!important;
}

.pt-5 {
  padding-top: 8px!important;
}

.pt-1 {
  padding-top: 16px!important;
}

.p-1 {
  padding: 16px!important;
}

.p-4 {
  padding: 64px!important;
}

.pb-25 {
  padding-bottom: 4px!important
}

.pb-5 {
  padding-bottom: 8px!important;
}

.pb-1 {
  padding-bottom: 16px!important;
}

.pr-1 {
  padding-right: 16px!important;
}

.pr-5 {
  padding-right: 8px!important;
}

.pr-0 {
  padding-right: 0!important;
}

.pl-0 {
  padding-left: 0!important;
}

.pl-5 {
  padding-left: 8px!important;
}

.pl-1 {
  padding-left: 16px!important;
}

.mr-1 {
  margin-right: 16px!important;
}

.mr-2 {
  margin-right: 32px!important;
}

.mr-3 {
  margin-right: 48px!important;
}

.mr-4 {
  margin-right: 64px!important;
}

.mr-5 {
  margin-right: 8px!important;
}

.ml-25 {
  margin-left: 4px!important;
}

.ml-5 {
  margin-left: 8px!important;
}

.ml-1 {
  margin-left: 16px!important;
}

.ml-2 {
  margin-left: 32px!important;
}

.ml-3 {
  margin-left: 48px!important;
}

.ml-4 {
  margin-left: 64px!important;
}

.ml-5 {
  margin-left: 8px!important;
}

.br-1 {
  border-radius: 16px!important;
}

.clickable {
  cursor: pointer!important;
}

.clickable:hover {
  cursor: pointer!important;
}

.MuiTableContainer-root::-webkit-scrollbar {
  display: none!important;
}

.MuiTableContainer-root {
  -ms-overflow-style: none!important;  /* IE and Edge */
  scrollbar-width: none!important;  /* Firefox */
}

.overflow__hidden {
  overflow: hidden!important;
}

.rtl {
  direction: rtl!important;
}

.min__width--200 {
  min-width: 200px!important;
}

.absolute {
  position: absolute!important;
}

.fixed {
  position: fixed!important;
}

.sticky {
  position: sticky!important;
}

.primary__color {
  color: var(--primary)!important;
}

/* MUI  */
.MuiPaper-root {
  border-radius: 16px!important;
}

.MuiDialogContent-root {
  padding: 16px;
  flex: 3;
}

.custom__label-fix {
  transform: translateX(-16px)!important;
}


/* NAVBAR */
.navbar__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.navbar__item-selected {
  color: var(--primary);
}

.MuiChip-label {
  text-overflow: clip!important;
}

.extra_small__icon {
  height: .75rem!important;
  width: .75rem!important;
  margin-top: 2px;
}

.small__icon {
  height: 1rem!important;
  width: 1rem!important
}

.medium__icon {
  height: 1.3rem!important;
  width: 1.3rem!important;
}

.swiper-container {
  padding: 8px 0!important;
}

.MuiMenuItem-root {
  min-height: 48px!important;
}

.w-96 {
  width: 96px!important;
}

.w-264 {
  width: 264px!important;
}

.mnh-144 {
  min-height: 144px!important;
}

.mnh-256 {
  min-height: 256px!important;
}

.mnw-40 {
  min-width: 40px!important;
}

.mnw-80 {
  min-width: 80px!important;
}

.mnw-196 {
  min-width: 196px!important;
}

.mnw-256 {
  min-width: 256px!important
}

.mxw-104 {
  max-width: 104px!important;
}

.mxw-196 {
  max-width: 196px!important;
}

.mxw-224 {
  max-width: 224px!important;
}

.mxw-256 {
  max-width: 256px!important;
}

.mxw-312 {
  max-width: 312px!important;
}

.mxw-512 {
  max-width: 512px!important;
}

.mnw-80 {
  min-width: 80px!important;
}

.mw-224 {
  min-width: 224px!important;
}

.lh-0 {
  line-height: 0!important;
}

.lh-1 {
  line-height: 1!important;
}

.lh-15 {
  line-height: 1.5!important;
}

.red {
  color: var(--red)!important;
}

.text__wrap {
  white-space: pre-wrap!important;
}

.MuiAvatarGroup-avatar {
  border-radius: 50%!important;
  border-width: 1px!important;
}

.desktop__menu {
  z-index: 1102!important;
  border-radius: 1rem!important;
}

.MuiFab-root {
  position: fixed!important;
  bottom: 5.5rem!important;
  margin: 0 auto!important;
  left: 50%!important;
  box-shadow: 0 0 10px #00000005!important;
  transform: translate(-50%, 0)!important;
  z-index: 99!important;
}

/* FOR IPHONE X */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  .MuiFab-root {
    bottom: 6.5rem!important;
  }
}

@media (min-width: 768px) {
  .MuiFab-root {
    bottom: 2.5rem!important;
  }
}
