* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.MuiContainer-root {
  overflow: scroll!important;
  height: 100%!important;
  padding: 4rem 1rem 4rem 1rem!important;
}

.full-width {
  width: 100%;
}

.MuiFormControl-root {
  width: 100%;
  margin: 0 0 .5rem 0!important;
}

.no-margin {
  margin: 0!important;
}

.chip-button {
  cursor: pointer!important;
  transition: .3s border ease-in-out;
}

.chip-button:hover {
  border: 1px solid black;
}

.MuiCardHeader-avatar {
  margin: 0 0 0 1rem;
  margin-right: 0!important;
}

.button-spinner {
  height: 24px!important;
  width: 24px!important;
  background-color: #f4f4f4!important;
  color: #f4f4f4!important;
}

#file-upload {
  display: none;
}

.anchor {
  cursor: pointer;
}

.button-style {
  float: left!important;
  width: 100%!important;
  margin-bottom: .5rem!important;
}

@media (max-width: 768px) {

}
